<footer class="page-footer font-small indigo">

  <div class="container">

    <div class="row text-center d-flex justify-content-center pt-5">

      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Press</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Privacy</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Terms</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Language</a>
        </h6>
      </div>

    </div>

    <hr class="rgba-white-light" style="margin: 1% 15% 2%;">

    <div class="row pb-3">

      <div class="col-md">
        <div class="d-flex justify-content-center">
          <a class="fb-ic" href="https://www.facebook.com/gautam.bafna.58367">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <a class="gplus-ic" href="mailto:someone@example.com?Subject=Hello%20again">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <a href="https://github.com/allrounder27" class="pin-ic">
            <i class="fab fa-github fa-lg white-text"> </i>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">This is a Instagram clone based on MVC architecture | Copyright ©2020 All rights reserved | made with 💙 by Gautam Bafna
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
