<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border">

  <div class="d-flex justify-content-around">

    <div class="mr-auto p-2 flex-fill">
      <a class="navbar-brand dashboard_title" href="/feed">Instagram</a>
    </div>

    <div class="p-2 flex-fill">
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <form method='get' action='/feed'>
            <button type='submit' class="btn btn-light btn_a">Home</button>
          </form>
        </li>
        <li class="nav-item">
          <form method='get' action='/post'>
            <button type='submit' class="btn btn-light btn_a">Post</button>
          </form>
        </li>
        <li class="nav-item">
          <form method='get' action='/trending'>
            <button type='submit' class="btn btn-light btn_a">Trending</button>
          </form>
        </li>
        <li class="nav-item">
          <form method='get' action='/profile'>
            <button type='submit' class="btn btn-light btn_a">Profile</button>
          </form>
        </li>
        <li class="nav-item">
          <form method='get' action='/logout'>
            <button type='submit' class="btn btn-light btn_a">Logout</button>
          </form>
        </li>
      </ul>

    </div>

  </div>

</nav>

<br><br><br><br><br><br>
