<!DOCTYPE html>
<html>
<body>

<form action="/post" method="post" enctype="multipart/form-data">
    Select image to upload:
    <br><br>
    <input type="file" name="image"><br><br>
    <input type="text" name="caption"><br><br>
    <input type="submit" value="Post" name="Post">
</form>

</body>
</html>
