{% include("templates/header.twig") %}
{% include("templates/navbar.twig") %}

<form action="/post" method="post" enctype="multipart/form-data">
  <p class="dashboard_title">
      Select image to upload:
  </p>
    <br><br>
    <input type="file" name="image"><br><br>
    <input type="text" name="caption" placeholder="Caption"><br><br>
    <input type="submit" value="Post" name="Post">
</form>

{% include("templates/footer.twig") %}
