{% include("templates/header.twig") %}
{% include("templates/navbar.twig") %}


{% for data in profile %}

<div style="width:800px; margin:0 auto;">

  <div class="d-flex justify-content-center">

    <div class="p-2 flex-fill">
      <img src="assets/upload/{{data.pic}}" class="rounded-circle">
    </div>

    <div class="p-2 flex-fill">
      <div class="d-flex flex-column">
        <div class="p-2">
          <p class="login_title">
            {{data.username}}
          </p>
        </div>
        <div class="p-2">
          <p class="login_text">
            {{data.email}}
          </p>
        </div>
        <div class="p-2">
          <form method='get' action='/pic'>
            <button type='submit' class="btn btn-primary btn-block">Edit Profile</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div><br>
<hr width="50%"><br>

{% endfor %}

<h2 class="login_title">My posts-</h2><br>

{% for post in myposts %}
{% include("templates/procard.twig") %}
{% endfor %}

{% include("templates/footer.twig") %}
