  {% include("templates/header.twig") %}

  <div style="width:800px; margin:1.5% auto;">

    <div class="d-flex justify-content-center">

      <div class="p-2">
        <img src="/assets/images/phone.jpeg" height="100%" width="100%">
      </div>

      <div class="p-2">

        <div class="d-flex flex-column">

          <div class="p-2">
            <p class="login_title">
              Instagram
            </p>
          </div>

          <div class="p-2 border">
            <form method='post' action='/signup'>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type='text' class="form-control" name="username" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="email">E-mail:</label>
                <input type='text' class="form-control" name="email" placeholder="Enter e-mail id">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type='password' class="form-control" name="password" placeholder="Enter password">
              </div>
              <button type='submit' class="btn btn-primary btn-block">Sign up</button>
            </form>
          </div>

          <div class="p-2 border">
            <p class="login_text">
              Already Registered? <a href='/'>Sign in</a>
            </p>
          </div>

          <div class="p-2 border">
            <p class="login_text">
              Get the app.
            </p>
            <div class="d-flex">
              <div class="p-2">
                <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo">
                  <img src="/assets/images/appstore.png" height="50px" width="150px">
                </a>
              </div>
              <div class="p-2">
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D83D0319C-19E2-481F-9FFD-EEBAF2CD6CDA%26utm_content%3Dlo%26utm_medium%3Dbadge">
                  <img src="/assets/images/googleplay.png" height="50px" width="150px">
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  {% include("templates/footer.twig") %}
