{% include("templates/header.twig") %}
{% include("templates/navbar.twig") %}

<p align="center" class="login_title">
  Trending Posts-
</p>

{% for post in trending %}
{% include("templates/card.twig") %}
{% endfor %}

{% include("templates/footer.twig") %}
