.btn_a {
  font-size: 20px;
  margin-top: 10px;
}

.card_a {
  margin: 0 auto;
}

.dashboard_title {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.input_field {
  border: 0;
  width: 90%;
}

.login_text {
  text-align: center;
}

.login_title {
  text-align: center;
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.margin {
  margin-bottom: 0;
  padding: 0;
}
